$def with(denuncia)
<h3>
    <a href="/denuncia">Denuncia</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Nombre</th>
        <th>Descripción del Suceso</th>
        <th>Municipio</th>
        <th>Colonia</th>
        <th>Imagen</th>
        <th>Editar</th>
        <th>Eiminar</th>
    </thead>
    <tbody>
        $for item in denuncia:
        <tr>
            <td><a href='/denuncia/view/$item.id_denuncia'>$item.nombre_d</a></td>
            <td><a href='/denuncia/view/$item.id_denuncia'>$item.descripcion_d</a></td>
            <td><a href='/denuncia/view/$item.id_denuncia'>$item.municipio_d</a></td>
            <td><a href='/denuncia/view/$item.id_denuncia'>$item.colonia_d</a></td>
            <td><a href='/denuncia/view/$item.id_denuncia'>$item.imagen</a></td>
            <td><a href='/denuncia/edit/$item.id_denuncia'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/denuncia/delete/$item.id_denuncia'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>