$def with(denuncia)
<h3>
    <a href="/denuncia">denuncia</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>denuncia</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in denuncia:
        <tr>
            <td><a href='/denuncia/view/$item.id_denuncia'>$item.id_denuncia</a></td>
            <td><a href='/denuncia/edit/$item.id_denuncia'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/denuncia/delete/$item.id_denuncia'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>