</TITLE>
<SCRIPT languaje="JavaScript">
function pulsar() {
alert("Registro Exitoso!");
}
</SCRIPT>

<style>
    .map{height: 50%; width: 100%; border: solid 1px rgba(255, 140, 0, 0.979);}
    h2{font-family: fantasy;}
</style>
<h2 style="color:orange">
    <a href="/denuncia">Denuncia</a>
</h2>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="descripcion_d">Descripción:</label>
    <input required id="descripcion_d" type="text" class="form-control" name="descripcion_d" size="30"/>
</div><div class="form-group">
    <label for="calle_d">Calle:</label>
    <input required id="calle_d" type="text" class="form-control" name="calle_d" size="30"/>
</div><div class="form-group">
    <label for="municipio_d">Municipio:</label>
    <input required id="municipio_d" type="text" class="form-control" name="municipio_d" size="30"/>
</div><div class="form-group">
    <label for="colonia_d">Colonia:</label>
    <input required id="colonia_d" type="text" class="form-control" name="colonia_d" size="30"/>
</div><div class="form-group">
    <div class="map" id="map"></div>
    <label for="longitud">Longitud:</label>
    <input required id="longitud" type="text" readonly class="form-control" name="longitud" size="30"/>
</div><div class="form-group">
    <label for="latitud">Latitud:</label>
    <input required id="latitud" type="text" readonly class="form-control" name="latitud" size="30"/>
</div>
<script>
        var marker;          //variable del marcador
        var coords = {};    //coordenadas obtenidas con la geolocalización
        
        //Funcion principal
        initMap = function () 
        {
        
            //usamos la API para geolocalizar el usuario
                navigator.geolocation.getCurrentPosition(
                  function (position){
                    coords =  {
                      lng: position.coords.longitude,
                      lat: position.coords.latitude
                   //  lat: -34.397, lng: 150.644
                    };
                    setMapa(coords);  //pasamos las coordenadas al metodo para crear el mapa
                    
                   
                  },function(error){console.log(error);});
            
        }
        
        
        
        function setMapa (coords)
        {   
              //Se crea una nueva instancia del objeto mapa
              var map = new google.maps.Map(document.getElementById('map'),
              {
                zoom: 13,
                center:new google.maps.LatLng(coords.lat,coords.lng),
        
              });
        
              //Creamos el marcador en el mapa con sus propiedades
              //para nuestro obetivo tenemos que poner el atributo draggable en true
              //position pondremos las mismas coordenas que obtuvimos en la geolocalización
              marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(coords.lat,coords.lng),
        
              });
              //agregamos un evento al marcador junto con la funcion callback al igual que el evento dragend que indica 
              //cuando el usuario a soltado el marcador
              marker.addListener('click', toggleBounce);
              
              marker.addListener( 'dragend', function (event)
              {
                //escribimos las coordenadas de la posicion actual del marcador dentro del input #coords
                document.getElementById("latitud").value = this.getPosition().lat();
                document.getElementById("longitud").value = this.getPosition().lng();
              });
        }
        
        //callback al hacer clic en el marcador lo que hace es quitar y poner la animacion BOUNCE
        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }
        }
        
        // Carga de la libreria de google maps 
        
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxR_i0RVcAQa-X86yKiSuM52u3Job7byU&callback=initMap"></script>
            
    <div class="">
        <button id="send" onClick="pulsar()" action="view.html" name="send"s>Guardar</button>
    </div>
</form>
<br>
<br>