$def with (page)
<!--
    Author: Salvador Hernández Mendoza
    Email: salvadorhm@gmail.com
    https://github.com/salvadorhm/kuorra
    -->
<html>

<head>
    <title>SavingLifes</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, max-age=0, no-store, must-revalidate" />
    <link href="../../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../static/css/dataTables.bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    
    <div class='container'>
        <br><br> $:page
    </div>

    
</body>
    <script src="../../static/js/jquery-1.12.4.js"></script>
    <script src="../../static/js/dataTables.bootstrap.min.js"></script>
    <script src="../../static/js/jquery.dataTables.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/control.js"></script>
</html>