<br>
<h3>
    <a href="/adoptar">Adoptar</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
    <label for="nom_persona">Nombre Completo:</label>
    <input required id="nom_persona" type="text" class="form-control" name="nom_persona" size="30"/>
</div><div class="form-group">
    <label for="email">Correo Electrónico:</label>
    <input required id="email" type="email" class="form-control" name="email" size="30"/>
</div><div class="form-group">
    <label for="telefono">Número Telefónico:</label>
    <input required id="telefono" type="number" class="form-control" name="telefono" size="30"/>
</div><div class="form-group">
    <label for="municipio">Municipio:</label>
    <input required id="municipio" type="text" class="form-control" name="municipio" size="30"/>
</div><div class="form-group">
    <label for="colonia">Colonia:</label>
    <input required id="colonia" type="text" class="form-control" name="colonia" size="30"/>
</div><div class="form-group">
    <label for="fecha">Fecha de Publicación:</label>
    <input required id="fecha" type="date" class="form-control" name="fecha" size="30"/>
</div><div class="form-group">
    <label for="nom_mascota">Nombre(Mascota):</label>
    <input required id="nom_mascota" type="text" class="form-control" name="nom_mascota" size="30"/>
</div><div class="form-group">
    <label for="edad_mascota">Edad(Mascota):</label>
    <input required id="edad_mascota" type="text" class="form-control" name="edad_mascota" size="30"/>
</div><div class="form-group">
    <label for="sexo_mascota">Sexo(Mascota):</label>
    <input required id="sexo_mascota" type="text" class="form-control" name="sexo_mascota" size="30"/>
</div><div class="form-group">
    <label for="tipo_mascota">Tipo(Mascota):</label>
    <input required id="tipo_mascota" type="text" class="form-control" name="tipo_mascota" size="30"/>
</div><div class="form-group">
    <label for="descripcion_mascota">Características y Descripción:</label>
    <input required id="descripcion_mascota" type="text" class="form-control" name="descripcion_mascota" size="30"/>
</div><div class="form-group">
    <label for="id_usuario">Datos(Usuario)</label>
    <input required id="id_usuario" type="text" class="form-control" name="id_usuario" size="30"/>
</div><div class="form-group">
    <label for="imagen">Imagen</label>
    <input required id="imagen" type="file" class="form-control" name="imagen" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span>Guardar</button>
    </div>
</form>
<br>
<br>