<br>
<h3>
    <a href="/usuarios">Usuarios</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre_u">Nombre de Usuario:</label>
    <input required id="nombre_u" type="text" class="form-control" name="nombre_u" size="30"/>
</div><div class="form-group">
    <label for="email_u">Correo Electrónico:</label>
    <input required id="email_u" type="email" class="form-control" name="email_u" size="30"/>
</div><div class="form-group">
    <label for="telefono_u">Número Telefónico:</label>
    <input required id="telefono_u" type="number" class="form-control" name="telefono_u" size="30"/>
</div><div class="form-group">
    <label for="password">Contraseña:</label>
    <input required id="password" type="password" class="form-control" name="password" size="30"/>
</div><div class="form-group">
    <label for="municipio_u">Municipio:</label>
    <input required id="municipio_u" type="text" class="form-control" name="municipio_u" size="30"/>
</div><div class="form-group">
    <label for="colonia_u">Colonia:</label>
    <input required id="colonia_u" type="text" class="form-control" name="colonia_u" size="30"/>
</div><div class="form-group">
    <label for="tipo_u">Tipo de Usuario:</label>
    <input required id="tipo_u" type="text" class="form-control" name="tipo_u" size="30"/>
</div><div class="form-group">
    <label for="imagen">Imagen</label>
    <input required id="imagen" type="file" class="form-control" name="imagen" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span>Guardar</button>
    </div>
</form>
<br>
<br>