$def with(desaparecidos, message)
<br>
<h3>
    <a href="/desaparecidos">Desaparecidos</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
<br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_desaparecidos" id="id_desaparecidos" value="$desaparecidos.id_desaparecidos" />

    <div class="form-group">
    <label for="nombre_p">Nombre Completo:</label>
    <input readonly id="nombre_p" type="text" class="form-control" name="nombre_p" size="30" value="$desaparecidos.nombre_p"/>
</div><div class="form-group">
    <label for="email_p">Correo Electrónico:</label>
    <input readonly id="email_p" type="email" class="form-control" name="email_p" size="30" value="$desaparecidos.email_p"/>
</div><div class="form-group">
    <label for="telefono_p">Número Telefónico:</label>
    <input readonly id="telefono_p" type="number" class="form-control" name="telefono_p" size="30" value="$desaparecidos.telefono_p"/>
</div><div class="form-group">
    <label for="municipio_p">Municipio:</label>
    <input readonly id="municipio_p" type="text" class="form-control" name="municipio_p" size="30" value="$desaparecidos.municipio_p"/>
</div><div class="form-group">
    <label for="colonia_p">Colonia:</label>
    <input readonly id="colonia_p" type="text" class="form-control" name="colonia_p" size="30" value="$desaparecidos.colonia_p"/>
</div><div class="form-group">
    <label for="fecha_p">Fecha de Publicación:</label>
    <input readonly id="fecha_p" type="datte" class="form-control" name="fecha_p" size="30" value="$desaparecidos.fecha_p"/>
</div><div class="form-group">
    <label for="nombre_m">Nombre(Mascota):</label>
    <input readonly id="nombre_m" type="text" class="form-control" name="nombre_m" size="30" value="$desaparecidos.nombre_m"/>
</div><div class="form-group">
    <label for="edad_m">Edad(Mascota):</label>
    <input readonly id="edad_m" type="text" class="form-control" name="edad_m" size="30" value="$desaparecidos.edad_m"/>
</div><div class="form-group">
    <label for="sexo_m">Sexo(Mascota):</label>
    <input readonly id="sexo_m" type="text" class="form-control" name="sexo_m" size="30" value="$desaparecidos.sexo_m"/>
</div><div class="form-group">
    <label for="tipo_m">Tipo(Mascota):</label>
    <input readonly id="tipo_m" type="text" class="form-control" name="tipo_m" size="30" value="$desaparecidos.tipo_m"/>
</div><div class="form-group">
    <label for="descripcion_m">Características y Descripción:</label>
    <input readonly id="descripcion_m" type="text" class="form-control" name="descripcion_m" size="30" value="$desaparecidos.descripcion_m"/>
</div><div class="form-group">
    <label for="id_usuario">Datos(Usuario)</label>
    <input readonly id="id_usuario" type="text" class="form-control" name="id_usuario" size="30" value="$desaparecidos.id_usuario"/>
</div><div class="form-group">
    <label for="imagen">Imagen</label>
    <input readonly id="imagen" type="file" class="form-control" name="imagen" size="30" value="$desaparecidos.imagen"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span>Eliminar</button>
    </div>
</form>
<br>
<br>
<br>