$def with(desaparecidos)
<br>
<style>
    img{height: 50%; width: 50%; float: left;}
</style>
<h3>
    <a href="/desaparecidos">Desaparecidos</a>
</h3>
<b>Nombre Completo:</b> $desaparecidos.nombre_p <br>
<b>Correo Electrónico:</b> $desaparecidos.email_p <br>
<b>Número Telefónico:</b> $desaparecidos.telefono_p <br>
<b>Municipio:</b> $desaparecidos.municipio_p <br>
<b>Colonia:</b> $desaparecidos.colonia_p <br>
<b>Fecha de Publicación:</b> $desaparecidos.fecha_p <br>
<b>Nombre(Mascota):</b> $desaparecidos.nombre_m <br>
<b>Edad(Mascota):</b> $desaparecidos.edad_m <br>
<b>Sexo(Mascota):</b> $desaparecidos.sexo_m <br>
<b>Tipo(Mascota):</b>tipo_m: $desaparecidos.tipo_m <br>
<b>Características y Descripción:</b></BR>$desaparecidos.descripcion_m <br>
<b>Datos(Usuario):</b>id_usuario: $desaparecidos.id_usuario <br>
<b>Imagen:</b></br> $desaparecidos.imagen <br>
<img src="/static/files/desaparecidos_img/$desaparecidos.imagen ">
