$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']
<br>
<style>
	.imgprimera {height: 400px ;  width: 1200px; margin: 15px; padding: 15px;}
	.bacio3 {height: 1080px; width: 1320px;}
	fieldset {height: 450px; width: 375px; float: left; padding: 15px; ;margin: 15px; line-height: 120%; -webkit-border-radius: 6px; -moz-border-radius: 6px; border: 1px solid #BDC2C9;}
	.text{height: 900px; width: 1210px; background-color: white;}
	.ull{list-style-type: square;}
	h2{color: #EF4C0B; }
	p{font-size: 17px;}
</style>

<div class="imagen">
    <img class="imgprimera" src="static/files/sitio/index.jpg"> 
    </div>
<div class="text">
<div class="bacio3">
    <fieldset>
            <legend><h2>Adopcion</h2></legend>
            <p align="justify"> Proceso de tomar la responsabilidad de un animal que un dueño previamente ha abandonado o dejado en un refugio de animales. Adoptar a un animal es una oportunidad para ti y una segunda oportunidad para él. Una oportunidad para ti, porque darás hogar y cariño a 
            un animal que ha sufrido la aterradora experiencia de abandono y desamparo e incluso el maltrato, y aunque la mayoría de animales que esperan en una jaula ser adoptados son sociables y confiados, también los hay que debido a la terrible situación vivida tienen miedo o son asustadizos, si te decides adoptarlos podrás vivir la maravillosa transformación de un animal traumatizado que vuelve a recuperar la confianza.</p> 
    </fieldset> 
    <fieldset>
            <legend><h2>Maltrato</h2></legend>
            <p align="justify"> El maltrato animal es un grave problema social al que no siempre damos la importancia o la atención que merece,pese a que cientos de animales son víctimas del abandono y vejaciones anualmente. Son muchas las formas de maltrato: desde no alimentar al animal correctamente o no brindarle unas condiciones higiénico-sanitarias óptimas,hasta el castigo físico o psicológico. En nuestra mano está colaborar para evitar el maltrato animal denunciando ante las autoridades o asociaciones en defensa de los animales cualquier abuso. Solo así podremos poner fin a este tipo de actos y conseguir que los responsables de los mismos paguen por su conducta violenta ante la ley. Repasamos qué es el maltrato animal y las vías que tenemos para denunciarlo.
                </p> 
    </fieldset> 
    <fieldset>
            <legend><h2>Denuncia</h2></legend>
            <p align="justify"> Aquí lo esencial es disponer con la mayor cantidad de pruebas para respaldar la denuncia, la cual no puede ser anónima. Es relevante tener material multimedia, como fotografías, registro audiovisual o grabación de voz que acrediten el hecho, además de testigos mayores de 18 años capaces de exponer asertivamente los detalles, y de ser posible el relato o evaluación de un veterinario, pues dará peso a la denuncia.
            Pasos:
                <ul class="ull">
                    <li>Pruebas que acrediten el maltrato.</li> 
                    <li>Dirección del lugar y fecha (si es posible da nombres de los responsables).</li> 
                    <li>Las pruebas ante BIDEMA o Fiscalía.</li> 
                    <li>Dejar tu contacto.</li>
                </ul>
                </p> 
    </fieldset>
    <fieldset>
            <legend><h2>Razas</h2></legend>
            <p align="justify">Perros;<br>
                Las razas de perros o raza canina no son científicamente definidas como una clasificación biológica, sino que son grupos definidos por clubes de aficionados llamados club de la raza. Una raza de perro está representada por un número suficiente de individuos que transfieren de manera estable sus características específicas a través de generaciones. Los perros de la misma raza tienen características similares en apariencia y comportamiento, sobre todo porque vienen de un sistema selecto de antepasados que tenían las mismas características.<br>
                Gatos;<br>
                Las razas de gatos son grupos de gatos con características parecidas. Se subdividen en muchos grupos. Igualmente, existen mezclas. Es decir, la fusión de gatos de distintas especies. 
                </p> 
    </fieldset>
    <fieldset>
        <legend><h2>Desaparecidos</h2></legend>
        <p align="justify">
                Con base a los animales reportados como perdidos se mostrara un listado de cada una de las mascotas dadas de alta en la pagina. Esto es para que los usuarios tengan conocimiento de las mascotas que se encuntran extraviadas y si llegan a saber algun tipo de informacion reportarlo para que la persona que lo publico pueda estar enterado.
            </p> 
</fieldset>
<fieldset>
    <legend><h2>SavingLifes</h2></legend>
    <p align="justify">
            El proyecto a realizar se enfoca hacia el problema que tiene la sociedad con el abandono,  maltrato y la indiferencia hacia los animalitos callejeros, donde no existe una autoridad como tal donde se puedan reportar casos de violencia o que rescaten a los animales. Solo existen grupos de personas que ayudan a los animales y que dan su apoyo pero no una organización como tal, por parte de presidencia solo existe lo que es el número de antirrábicos pero solo consiste en recoger al animal pero no cuidarlo o ayudarlo.
            </p> 
</fieldset> 
</div>
</div>
<br>
<br>