$def with (page)
<br>
<html>
<head>
    <title>Inicia Sesión SavingLifes</title>
    <meta http-equiv="refresh" content="60; url=/logout" />
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=0,no-cache,no-store,post-check=0,pre-check=0 must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link href="../../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../static/css/dataTables.bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
        <div class="container">
            <div class="navbar-header">
            <h1><a class="saving"></span> SavingLifes</a></h1>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    $if page.privilege == '-1':
                        
                    $elif page.privilege == '0':
                        <li class='active'><a href="/"><span class="glyphicon glyphicon-user"></span> $page.username </a></li>
                        <li><a href="/users">Usuarios</a></li>
                        <li><a href="/logs">Registros</a></li>
                        <li><a href="/adoptar">Adopción</a></li>
                        <li><a href="/denuncia">Denunciar</a></li>
                        <li><a href="/desaparecidos">Desaparecidos</a></li>
                        <li><a href="/comentarios">Comentarios</a></li>
                        <li><a href="/usuarios">Usuarios</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></li>

                    $elif page.privilege == '1':
                        <li class='active'><a href="/"><span class="glyphicon glyphicon-user"></span> $page.username </a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    <div class='container'>
        <br><br> $:page
    </div>

</body>
<script src="../../static/js/jquery-1.12.4.js"></script>
<script src="../../static/js/dataTables.bootstrap.min.js"></script>
<script src="../../static/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/control.js"></script>

</html>